:root {
    --very_dark_grayish_blue: #263238;
    --dark_moderate_lime_green: #4caf4f;
    --white: #fff;
    --very_dark_gray: #717171;
    --light_grayish_blue: #f5f7fa;
    --dark_gray: #4d4d4d;
    --silver: #F5F7FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* img {
    width: 100%;
    display: block;
} */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

/* General Setting */

.container {
    max-width: 115rem;
    margin: 0 auto;
    overflow: hidden;
}

.flex {
    display: flex;
}

.ai-c {
    align-items: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ta-c {
    text-align: center;
}

.btn-transparent {
    font-size: 2rem;
}



/* Header Section */

.header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--light_grayish_blue);
    padding: 1.5rem 0;
    z-index: 99999;
}

.logo a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--very_dark_grayish_blue);
}

.main-nav {
    list-style: none;
    gap: 4rem;
}

.main-nav li a{
    color: var(--very_dark_grayish_blue);
    font-size: 1.6rem;
    text-decoration: none;
}

.btn-login {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 6px;
    color: var(--dark_moderate_lime_green);
}

.btn-signin {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--dark_moderate_lime_green);
    color: var(--white);
}

.hamburger {
    display: none;
    font-size: 3rem;
    color: var(--very_dark_grayish_blue);
}

/* Hero Section */

.hero-section {
    background-color: var(--light_grayish_blue);
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    padding: 8rem 0;
}

.hero-content .hero-heading {
    font-size: 6.4rem;
    color: var(--very_dark_grayish_blue);
}

.hero-content .hero-heading span {
    color: var(--dark_moderate_lime_green);
}

.hero-content .hero-detail {
    margin-top: 2.5rem;
    font-size: 2.5rem;
    color: var(--very_dark_gray);
}

.btn-hero {
    margin-top: 3.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--dark_moderate_lime_green);
    color: var(--white);
}

.hero-img img {
    width: 100%;
}

/* Client Section */

.client-container {
    padding: 4.5rem 0;
}

.client-text {
    text-align: center;
}

.client-heading {
    font-size: 3.6rem;
    color: var(--dark_gray);
    font-weight: 600;
}

.client-detail {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: var(--very_dark_gray);
}

.client-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.client-logo img {
    width: 4.8rem;
    height: 4.8rem;
}

/* Community Section */

.community-container {
    padding: 8rem 0;
}

.community-text {
    text-align: center;
}

.community-heading {
    font-size: 3.6rem;
    color: var(--dark_gray);
    font-weight: 600;
}

.community-detail {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: var(--very_dark_gray);
}

.community-card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 4rem;
    
}

.box-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 8px;
}

.box-card img {
    width: 6.5rem;
}

.box-heading {
    font-size: 2.8rem;
}

.box-detail {
    font-size: 1.4rem;
    color: var(--very_dark_gray);
}

/* Unlock Section */

.unlock-container {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 4rem;
}

.unlock-heading {
    font-size: 3.6rem;
    color: var(--very_dark_grayish_blue);
}

.unlock-detail {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    color: var(--very_dark_gray);
}

.btn-unlock {
    margin-top: 3.2rem;
    display: inline-block;
    padding: 1.4rem 3.2rem;
    background-color: var(--dark_moderate_lime_green);
    color: var(--white);
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 4px;
}

.unlock-img img {
    width: 100%;
}

/* Achievement Section */

.achievement-section {
    background-color: var(--silver);
}

.achievement-container {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10rem;
}

.achievement-heading {
    font-size: 3.6rem;
    color: var(--very_dark_grayish_blue);
}

.achievement-heading span {
    color: var(--dark_moderate_lime_green);
}

.achievement-detail {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--dark_gray);
}

.right-achievement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 4.5rem;
}

.achievement-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.achievement-box img {
    width: 4.6rem;
}

.achievement-content h2 {
    font-size: 2rem;
}

.achievement-content p {
    margin-top: .5rem;
    font-size: 1.3rem;
    color: var(--dark_gray);
}

/* Calender Section */

.calender-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    padding: 8rem 0;
}

.calender-img img {
    width: 100%;
}

.calender-heading {
    font-size: 3.6rem;
    color: var(--dark_gray);
}

.calender-detail {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--very_dark_gray);
}

.btn-calender {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--dark_moderate_lime_green);
    color: var(--white);
}

/* Customer Section */

.customer-section {
    background-color: var(--silver);
}

.customer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
    align-items: center;
    padding: 8rem 0;
}

.customer-img img {
    width: 100%;
}
.customer-detail {
    font-size: 1.6rem;
    color: var(--very_dark_gray);
    margin-bottom: 1.5rem;
}

.customer-name {
    font-size: 2rem;
    color: var(--dark_moderate_lime_green);
    margin-bottom: .5rem;
}

.customer-company {
    font-size: 1.6rem;
    color: var(--very_dark_grayish_blue);
}

.customer-social {
    margin-top: 2rem;
}

.customer-social img {
    width: 4.8rem;
    height: 4.8rem;
}

.customer-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark_moderate_lime_green);
}

/* Community Section */

.community-container {
    padding: 8rem 0;
}

.community-content {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.community-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.community-box {
    position: relative;
    overflow: hidden;
}

.community-box img {
    width: 100%;
}

.community-box-detail {
    width: 90%;
    background-color: var(--silver);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: all .3s;
}

.community-box {
    margin-top: 10rem;
}

.community-box:hover .community-box-detail {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: all .3s;
}
.community-box:not(hover) {
    animation: show-overflow 2s forwards;
}

.community-box:not(hover) .community-box-detail {
    animation: remove-data 1s forwards;
}

.community-box:hover {
    animation:  remove-overflow 2s forwards;
}

.community-box-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.community-box-detail p {
    font-size: 2rem;
    color: var(--very_dark_gray);
    margin-bottom: 1.5rem;
}

.community-btn {
    display: block;
    text-decoration: none;
    color: var(--dark_moderate_lime_green);
    font-size: 1.6rem;
}

/* Animation */

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* Demo Section */

.demo-section {
    background-color: var(--silver);
}

.demo-container {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.demo-container h2 {
    font-size: 6.4rem;
    color: #000;
}

.demo-btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--dark_moderate_lime_green);
    color: var(--white);
}

/* Footer Section */

.footer {
background-color: var(--very_dark_grayish_blue);
}

.footer-container {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    color: var(--white);
}

.footer-logo a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.col-2,
.col-3,
.col-4 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.col-2 h2,
.col-3 h2,
.col-4 h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.col-2 ul,
.col-3 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
}

.col-2 ul li a,
.col-3 ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--white);
}

.col-4 h2 {
    margin-bottom: 2rem;
}


